<% provide(:page_title, "利用規約") %>
<section class="container-fluid">
  <div class="mt-4">
    <% provide(:back_link_path, root_path) %>
    <% provide(:back_link_text, "トップページ にもどる") %>
    <%= render 'shared/back_link' %>
  </div>
  <div class="col-lg-10 p-sm-5 p-4 mx-auto mt-4 mb-5 rounded-5 bg-body">
    <h1 class="mb-4">利用規約</h1>
    <p class="mb-5">
      この利用規約（以下、「本規約」といいます。）は、okamemo.com（以下、「当サイト」といいます。）がこのウェブサイト上で提供するサービス（以下、「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下、「ユーザー」といいます。）には、本規約に従って、本サービスをご利用いただきます。
    </p>
    <h4><i class="fas fa-caret-right static-pages-caret"></i> 適用範囲</h4>
    <p class="mb-5">本規約は、ユーザーと当サイトとの間の本サービスの利用に関わる一切の関係に適用されるものとします。</p>
    <h4><i class="fas fa-caret-right static-pages-caret"></i> 利用登録</h4>
    <p class="mb-5">
      本サービスにおいては、登録希望者が本規約に同意の上、当サイトの定める方法によって利用登録を申請し、当サイトがこれを承認することによって、利用登録が完了するものとします。
    </p>
    <h4><i class="fas fa-caret-right static-pages-caret"></i> ユーザー登録情報の管理</h4>
    <ol class="static-pages-list mb-5">
      <li>ユーザーは、自己の責任において、本サービスで登録するアカウントおよびパスワードなどの登録情報を適切に管理するものとします。</li>
      <li>ユーザーは、いかなる場合にも、アカウントおよびパスワードを第三者に譲渡または貸与し、もしくは第三者と共用することはできません。当サイトは、登録メールアドレスとパスワードの組み合わせが登録情報と一致してログインされた場合には、そのアカウントを登録しているユーザー自身による利用とみなします。</li>
      <li>上記のログイン情報が第三者によって使用されたことによって生じた損害は、当サイトに故意又は重大な過失がある場合を除き、当サイトは一切の責任を負わないものとします。</li>
    </ol>
    <h4><i class="fas fa-caret-right static-pages-caret"></i> 禁止事項</h4>
    <p class="mb-3">ユーザーは、本サービスの利用にあたり、以下の行為をしてはなりません。</p>
    <ul class="static-pages-list mb-5">
      <li>法令または公序良俗に違反する行為</li>
      <li>犯罪行為に関連する行為</li>
      <li>本サービスの内容等、本サービスに含まれる著作権、商標権ほか知的財産権を侵害する行為</li>
      <li>当サイト、ほかのユーザー、またはその他第三者のサーバーまたはネットワークの機能を破壊したり、妨害したりする行為</li>
      <li>本サービスによって得られた情報を商業的に利用する行為</li>
      <li>当サイトのサービスの運営を妨害するおそれのある行為</li>
      <li>不正アクセスをし、またはこれを試みる行為</li>
      <li>他のユーザーに関する個人情報等を収集または蓄積する行為</li>
      <li>不正な目的を持って本サービスを利用する行為</li>
      <li>本サービスの他のユーザーまたはその他の第三者に不利益、損害、不快感を与える行為</li>
      <li>他のユーザーに成りすます行為</li>
      <li>当サイトが許諾しない本サービス上での宣伝、広告、勧誘、または営業行為</li>
      <li>面識のない異性との出会いを目的とした行為</li>
      <li>当サイトのサービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為</li>
      <li>その他、当サイトが不適切と判断する行為</li>
    </ul>
    <h4><i class="fas fa-caret-right static-pages-caret"></i> 本サービスの提供の停止</h4>
    <ol class="static-pages-list mb-5">
      <li>
        当サイトは、以下のいずれかの事由があると判断した場合、ユーザーに事前に通知することなく本サービスの全部または一部の提供を停止または中断することができるものとします。
        <ul class="static-pages-list mt-3 mb-3">
          <li>本サービスにかかるコンピュータシステムの保守点検または更新を行う場合</li>
          <li>地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合</li>
          <li>コンピュータまたは通信回線等が事故により停止した場合</li>
          <li>その他、当サイトが本サービスの提供が困難と判断した場合</li>
        </ul>
      </li>
      <li>当サイトは、本サービスの提供の停止または中断により、ユーザーまたは第三者が被ったいかなる不利益または損害についても、一切の責任を負わないものとします。</li>
    </ol>
    <h4><i class="fas fa-caret-right static-pages-caret"></i> 利用制限および登録抹消</h4>
    <ol class="static-pages-list mb-5">
      <li>
        当サイトは、ユーザーが以下のいずれかに該当する場合には、事前の通知なく、ユーザーに対して、本サービスの全部もしくは一部の利用を制限し、またはユーザーとしての登録を抹消することができるものとします。
        <ul class="static-pages-list mt-3 mb-3">
          <li>本規約のいずれかの条項に違反した場合</li>
          <li>当サイトからの連絡（システムによる自動送信メールを除く）に対し、一定期間返答がない場合</li>
          <li>コンピュータまたは通信回線等が事故により停止した場合</li>
          <li>本サービスについて、最終の利用から一定期間利用がない場合</li>
          <li>その他、当サイトが本サービスの利用を適当でないと判断した場合</li>
        </ul>
      </li>
      <li>当サイトは、本条に基づき当サイトが行った行為によりユーザーに生じた損害について、一切の責任を負いません。</li>
    </ol>
    <h4><i class="fas fa-caret-right static-pages-caret"></i> 退会</h4>
    <p class="mb-5">ユーザーは、当サイトの定めるアカウント削除の手続により、本サービスから退会できるものとします。</p>
    <h4><i class="fas fa-caret-right static-pages-caret"></i> 保証の否認および免責事項</h4>
    <ol class="static-pages-list mb-5">
      <li>当サイトは、本サービスに事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</li>
      <li>当サイトは、本サービスに起因してユーザーに生じたあらゆる損害について、当サイトの故意又は重過失による場合を除き、一切の責任を負いません。</li>
      <li>当サイトは、本サービスに関して、ユーザーと他のユーザーまたは第三者との間において生じた取引、連絡または紛争等について一切責任を負いません。</li>
    </ol>
    <h4><i class="fas fa-caret-right static-pages-caret"></i> サービス内容の変更等</h4>
    <p class="mb-5">
      当サイトは、ユーザーへの告知をもって、本サービスの内容を変更、追加または廃止することがあり、ユーザーはこれを承諾するものとします。
    </p>
    <h4><i class="fas fa-caret-right static-pages-caret"></i> 利用規約の変更</h4>
    <ol class="static-pages-list mb-5">
      <li>
        当サイトは以下の場合には、ユーザーの個別の同意を要せず、本規約を変更することができるものとします。
        <ul class="static-pages-list mt-3 mb-3">
          <li>本規約の変更がユーザーの一般の利益に適合するとき。</li>
          <li>本規約の変更が本サービス利用契約の目的に反せず、かつ、変更の必要性、変更後の内容の相当性その他の変更に係る事情に照らして合理的なものであるとき。</li>
        </ul>
      </li>
      <li>当サイトはユーザーに対し、前項による本規約の変更にあたり、事前に、本規約を変更する旨及び変更後の本規約の内容並びにその効力発生時期を通知します。</li>
    </ol>
    <h4><i class="fas fa-caret-right static-pages-caret"></i> 個人情報の取扱い</h4>
    <p class="mb-5">
      当サイトは、本サービスの利用によって取得する個人情報については、当サイトの「<%= link_to "プライバシーポリシー", policy_path %>」に従い適切に取り扱うものとします。
    </p>
    <h4><i class="fas fa-caret-right static-pages-caret"></i> 通知または連絡</h4>
    <p class="mb-5">
      ユーザーと当サイトとの間の通知または連絡は、当サイトの定める方法によって行うものとします。当サイトは、現在登録されている連絡先が有効なものとみなして当該連絡先へ通知または連絡を行い、これらは、発信時にユーザーへ到達したものとみなします。
    </p>
    <div class="text-end mb-5">以上</div>
    <h2 class="mb-4">推奨環境</h2>
    <p class="mb-3">
      当サイトのご利用にあたっては以下の環境にてご利用ください。<br>
      推奨以外のOS、ブラウザをご利用の場合、動作や表示が正しく行われない可能性があります。
    </p>
    <h3><i class="fas fa-caret-right static-pages-caret"></i> OS</h3>
    <h5>パソコン</h5>
    <ul class="mb-4">
      <li>Windows</li>
      <li>Mac</li>
    </ul>
    <h5>スマートフォン・タブレット</h5>
    <ul class="mb-5">
      <li>Android</li>
      <li>iOS／iPadOS</li>
    </ul>
    <h3><i class="fas fa-caret-right static-pages-caret"></i> ブラウザ</h3>
    <ul class="mb-5">
      <li>Google Chrome最新版</li>
    </ul>
    <h3><i class="fas fa-caret-right static-pages-caret"></i> OSのバーション</h3>
    <p class="mb-5">推奨環境のブラウザが動作すれば、バージョンの指定はありません。</p>
    <h3><i class="fas fa-caret-right static-pages-caret"></i> JavaScriptについて</h3>
    <p class="mb-5">当サイトでは、JavaScriptを使用しております。お使いのブラウザでJavaScript機能を無効にされている場合、正しく機能しない、もしくは正しく表示されないことがあります。ご利用になる際にはブラウザ設定でJavaScriptを有効にしてください。</p>
  </div>
</section>
