<h3 class="mb-3">お買い物場所の更新の仕方</h3>
<ul class="px-3 py-4 mb-5 rounded-3 help-list-bg">
  <li class="row mb-3">
    <div class="col-12">
      <h5>①&ensp;GoogleMap上でお買い物した場所をクリック（タップ）してマーカーを立てる</h5>
    </div>
    <div class="col-12">
      <p class="m-0">GoogleMap上をクリック（タップ）するとマーカーを立て直せるので、お買い物した場所にマーカーを立て直してください。</p>
    </div>
  </li>
  <li class="row mb-3">
    <div class="col-12">
      <h5>②&ensp;お買い物場所を更新のボタンを押す</h5>
    </div>
    <div class="col-12">
      <p class="m-0">お買い物した場所にマーカーを立て直したら「お買い物場所を更新」ボタンを押してください。お買い物場所の更新が完了し、お買い物履歴の詳細画面に移動します。</p>
    </div>
  </li>
</ul>
<h3 class="mb-3">ボタンについて</h3>
<h4>各ボタンの説明</h4>
<ul class="px-3">
  <li class="row p-2 mb-3 rounded-3 help-list-button-bg">
    <div class="col-12">
      <div class="btn btn-lg btn-custom-send mb-2">お買い物場所を更新</div>
      <h5>お買い物場所更新ボタン</h5>
    </div>
    <div class="col-12">
      <p class="m-0">お買い物場所が更新されます。お買い物した場所にマーカーを立て直したら押してください。</p>
    </div>
  </li>
</ul>
