# 環境変数の除外
.env
.env.test
**/.env

# 環境変数のサンプルファイルの除外
.env.sample
.env.test.sample

# git関係のファイル除外
.git/

# log、tmpの除外
log
tmp
**/tmp

# node_modulesの除外
node_modules/

# Terraform関連ファイルを除外
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
