# 開発環境では.envを作成し以下の環境変数を設定する

# SESを使用するためのKEY_ID、SECRET_ACCESS_KEY
SES_AWS_ACCESS_KEY_ID=sesのアクセスキーを入力
SES_AWS_SECRET_ACCESS_KEY=sesのシークレットキーを入力

# hashid-railsで使用するハッシュソルト
HASHID_SALT_CHAR=任意のハッシュソルトを入力

# マスター管理ユーザーのメールアドレスとパスワード
ADMIN_USER_EMAIL=マスター管理ユーザー用のメールアドレスを入力 # フォーマットバリデーションに準拠していれば存在しないメールアドレスも可
ADMIN_USER_PASSWORD=マスター管理ユーザー用のパスワードを入力 # 英文字と数字を含む8文字以上

# GoogleMAPのAPIキー
GOOGLE_MAP_API_KEY=GoogleMAPのAPIキーを入力

# お問い合わせ内容の送信先メールアドレス
CONTACT_EMAIL=お問い合わせの送信先となるメールアドレスを入力

# reCAPTCHAのサイトキーとシークレットキー
RECAPTCHA_SITE_KEY=reCAPTCHAのサイトキーを入力
RECAPTCHA_SECRET_KEY=reCAPTCHAのシークレットキーを入力
