# 開発環境でのテストでは一部の環境変数は.env.testを作成し以下のダミーの値で使用する
# compose.ci.yamlのappコンテナにも同様の環境変数を設定する

# テストで使用するhashid-railsのハッシュソルト
HASHID_SALT_CHAR=test_hashid_salt

# テストで使用するマスター管理ユーザーのメールアドレス
ADMIN_USER_EMAIL=master_admin_user@example.test

# テストで使用するお問い合わせ送信先のメールアドレス
CONTACT_EMAIL=contact_email@example.test

# テストで使用するGoogleMAPのAPIキー
GOOGLE_MAP_API_KEY=dummy_google_map_api_key
