<div class="mt-1 mb-4 ms-sm-5 ms-3">
  <%= link_to 'javascript:history.back()', class: "h5 back-link text-decoration-none" do %>
    <i class="fas fa-circle-left link-icon"></i><span class="ms-1">もどる</span>
  <% end %>
</div>
