<div class="modal fade" id="turbo-confirm-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="turbo-confirm-modal-title"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"><p id="turbo-confirm-modal-message"></p></div>
      <div class="modal-footer">
        <button class="btn btn-light" data-bs-dismiss="modal">キャンセル</button>
        <button id="turbo-confirm-modal-confirm-button"></button>
      </div>
    </div>
  </div>
</div>
