<h4>各カテゴリーの説明</h4>
<ul class="px-3">
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>おまとめ</h5>
    </div>
    <div class="col-12">
      <p class="m-0">ご飯のおかず、野菜、果物、肉など買うものを大まかに指定するカテゴリー。買うものがはっきりと決まってない時に使います。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>主食類</h5>
    </div>
    <div class="col-12">
      <p class="m-0">米、パンなどの主食類を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>麺類</h5>
    </div>
    <div class="col-12">
      <p class="m-0">乾麺、生麺など麺類を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>野菜</h5>
    </div>
    <div class="col-12">
      <p class="m-0">基本的な野菜を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>生野菜</h5>
    </div>
    <div class="col-12">
      <p class="m-0">サラダに使うことが多い水分が多めな野菜を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>キノコ類</h5>
    </div>
    <div class="col-12">
      <p class="m-0">キノコに該当するものを扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>果物</h5>
    </div>
    <div class="col-12">
      <p class="m-0">フルーツ類を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>肉</h5>
    </div>
    <div class="col-12">
      <p class="m-0">精肉、加工肉などの肉類全般を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>海産物</h5>
    </div>
    <div class="col-12">
      <p class="m-0">生魚、魚介などの海産物全般を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>卵</h5>
    </div>
    <div class="col-12">
      <p class="m-0">卵類全般を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>乳製品</h5>
    </div>
    <div class="col-12">
      <p class="m-0">乳製品全般を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>大豆製品</h5>
    </div>
    <div class="col-12">
      <p class="m-0">大豆が原料の製品を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>粉製品</h5>
    </div>
    <div class="col-12">
      <p class="m-0">片栗粉、小麦粉などの粉ものを扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>調味料</h5>
    </div>
    <div class="col-12">
      <p class="m-0">調味料全般を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>油</h5>
    </div>
    <div class="col-12">
      <p class="m-0">油脂系の製品を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>甘い物</h5>
    </div>
    <div class="col-12">
      <p class="m-0">スイーツ全般を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>飲み物</h5>
    </div>
    <div class="col-12">
      <p class="m-0">飲料を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>お風呂用品</h5>
    </div>
    <div class="col-12">
      <p class="m-0">お風呂で使うものを扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>歯磨き用品</h5>
    </div>
    <div class="col-12">
      <p class="m-0">歯磨き用品を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>コスメ</h5>
    </div>
    <div class="col-12">
      <p class="m-0">化粧品や美容品などを扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>洗濯用品</h5>
    </div>
    <div class="col-12">
      <p class="m-0">洗剤や柔軟剤などの洗濯用品を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>キッチン用品</h5>
    </div>
    <div class="col-12">
      <p class="m-0">食器類、キッチン用の洗剤、調理器具などキッチン用品全般を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>ペーパー類</h5>
    </div>
    <div class="col-12">
      <p class="m-0">ティッシュ、トイレットペーパーなど紙類を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>ペット用品</h5>
    </div>
    <div class="col-12">
      <p class="m-0">ペット用品全般を扱うカテゴリー。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-category-bg">
    <div class="col-12">
      <h5>その他</h5>
    </div>
    <div class="col-12">
      <p class="m-0">他のカテゴリーに該当しないアイテムを扱うカテゴリー。</p>
    </div>
  </li>
</ul>
