<h3 class="mb-3">各機能の説明</h3>
<h4>お買い物機能</h4>
<ul class="px-3">
  <li class="row p-2 mb-3 rounded-3 help-list-shopping-bg">
    <div class="col-12">
      <h5><i class="far fa-pen-to-square"></i>&ensp;お買い物の登録</h5>
    </div>
    <div class="col-12">
      <p class="m-0">買いたいものをメモするお買い物リストを作ります。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-shopping-bg">
    <div class="col-12">
      <h5><i class="fas fa-cart-shopping"></i>&ensp;お買い物モード</h5>
    </div>
    <div class="col-12">
      <p class="m-0">「お買い物登録」で作ったお買い物リストを使ってリストを見ながらお買い物ができるモードです。</p>
    </div>
  </li>
  <li class="row p-2 rounded-3 help-list-shopping-bg">
    <div class="col-12">
      <h5><i class="fas fa-receipt"></i>&ensp;お買い物の履歴</h5>
    </div>
    <div class="col-12">
      <p class="m-0">完了したお買い物の内容を確認できます。お買い物した場所の記録や編集もできます。</p>
    </div>
  </li>
</ul>
<h4>ユーティリティ</h4>
<ul class="px-3">
  <li class="row p-2 mb-3 rounded-3 help-list-setting-bg">
    <div class="col-12">
      <h5><i class="far fa-paper-plane"></i>&ensp;通知メール登録</h5>
    </div>
    <div class="col-12">
      <p class="m-0">あなたのお買い物の内容を通知したいメールアドレスを登録できます。お買い物が完了した時に登録したメールアドレスにお買い物の結果が通知されるようになります。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-setting-bg">
    <div class="col-12">
      <h5><i class="fas fa-apple-whole"></i>&ensp;アイテム登録</h5>
    </div>
    <div class="col-12">
      <p class="m-0">お買い物リストにメモできるアイテムを新たに作成して追加することができます。</p>
    </div>
  </li>
  <li class="row p-2 rounded-3 help-list-setting-bg">
    <div class="col-12">
      <h5><i class="fas fa-user-pen"></i>&ensp;ユーザー設定</h5>
    </div>
    <div class="col-12">
      <p class="m-0">ニックネーム・メールアドレス・パスワードの変更など、ユーザーアカウントの設定ができます。</p>
    </div>
  </li>
</ul>
<h4>その他</h4>
<ul class="px-3">
  <li class="row p-2 rounded-3 help-list-bg">
    <div class="col-12">
      <h5><i class="fas fa-person-walking-arrow-right"></i>&ensp;ログアウト</h5>
    </div>
    <div class="col-12">
      <p class="m-0">アプリからログアウトします。</p>
    </div>
  </li>
</ul>
