<h3 class="mb-3">お買い物モードの進め方</h3>
<ul class="px-3 py-4 mb-5 rounded-3 help-list-bg">
  <li class="row mb-3">
    <div class="col-12">
      <h5>①&ensp;お買い物リストのアイテムにチェックしながら買い物する</h5>
    </div>
    <div class="col-12">
      <p class="m-0">お買い物リストを見ながら買い物します。手に取ったり買い物カゴに入れたアイテムにはチェックを入れましょう。お買い物リストのアイテムで買わなかったものはチェックを入れる必要はありません。チェックしなかったアイテムは未購入として記録されます。</p>
    </div>
  </li>
  <li class="row mb-3">
    <div class="col-12">
      <h5>②&ensp;買い物が終わったらお買い物完了のボタンを押す</h5>
    </div>
    <div class="col-12">
      <p class="m-0">買い物が終わったら「お買い物完了」ボタンを押してください。お買い物結果の確認画面に移動します。</p>
    </div>
  </li>
</ul>
<h3 class="mb-3">ボタンについて</h3>
<h4>各ボタンの説明</h4>
<ul class="px-3">
  <li class="row p-2 mb-3 rounded-3 help-list-button-bg">
    <div class="col-12">
      <div class="p-0 mb-2 rounded-4 help-buy-item-space buy-item-bg">
        <div class="text-center px-3 pt-3 pb-2">
          <div class="h5 mb-0">アイテム名</div>
          <div class="help-buy-item-check-space"></div>
        </div>
      </div>
      <h5>アイテムボタン</h5>
    </div>
    <div class="col-12">
      <p class="m-0">買う予定のアイテムの数だけ表示されます。クリック（タップ）すると <span class="help-ok-text-color">OK!</span> を付け外しできます。手に取ったアイテムに付けていきましょう。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-button-bg">
    <div class="col-12">
      <div class="btn btn-lg btn-custom-send mb-2">お買い物完了</div>
      <h5>お買い物完了ボタン</h5>
    </div>
    <div class="col-12">
      <p class="m-0">お買い物結果の確認画面に移動します。お買い物が終わった時に押してください。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-button-bg">
    <div class="col-12">
      <div class="btn btn-lg btn-secondary mb-2">中止</div>
      <h5>お買い物中止ボタン</h5>
    </div>
    <div class="col-12">
      <p class="m-0">お買い物モードを中止して、お買い物一覧画面に戻ります。</p>
    </div>
  </li>
</ul>
