<h3 class="mb-3">ボタンについて</h3>
<h4>各ボタンの説明</h4>
<ul class="px-3">
  <li class="row p-2 mb-3 rounded-3 help-list-button-bg">
    <div class="col-12">
      <i class="h3 fas fa-cart-shopping mb-2 edit-icon"></i>
      <h5>お買い物開始ボタン</h5>
    </div>
    <div class="col-12">
      <p class="m-0">選択したお買い物のリスト画面に移動してお買い物モードを開始します。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-button-bg">
    <div class="col-12">
      <i class="h3 fas fa-trash-can mb-2 delete-icon"></i>
      <h5>削除ボタン</h5>
    </div>
    <div class="col-12">
      <p class="m-0">選択したお買い物を削除します。</p>
    </div>
  </li>
</ul>
