<% provide(:page_title, "お買い物モード") %>
<% provide(:okame_info, "おつかれさま！お買い物が完了したよ。追加でお買い物場所を記録するか選んでね。\n「しない」を選んでも「お買い物履歴」で後から記録することもできるから安心してね。") %>
<%= render 'shared/navigation' %>
<%= render 'shared/page_title' %>
<div class="col-xl-6 col-md-8 col-11 p-md-5 p-4 choose_margin_bottom mx-auto rounded-2 form-bg confirm-window-text">
  <h2 class="mb-md-4 mb-3">お買い物場所の記録</h2>
  <div class="d-flex justify-content-evenly">
    <%= link_to "する", new_shopping_location_path(@shopping_record.hashid), class: "btn btn-lg btn-custom-send" %>
    <%= link_to "しない", root_path, class: "btn btn-lg btn-secondary" %>
  </div>
</div>
