<% provide(:page_title, "お問い合わせ") %>
<div class="my-5">
<%= render 'shared/page_title' %>
  <div class="col-xl-7 col-md-9 col-11 py-4 px-sm-4 px-3 mx-auto done_margin_bottom rounded-2 d-flex align-items-center contact-done-window-bg">
    <div>
      <h2 class="text-center mb-4"><span><i class="fas fa-circle-check"></i> お問い合わせ内容を</span><span>送信しました</span></h2>
      <div class="p-3 mx-auto rounded-2 contact-done-text-bg">
        <p class="ce-info-text">
          お問い合わせありがとうございました。<br>
          <br>
          お問い合わせの内容を確認・受付の後、ご入力いただいたEメールアドレスへご連絡いたします。しばらくお待ちください。
          <br>
          <br>
          <br>
          <%= link_to root_path, class: "back-link text-decoration-none" do %>
            <i class="fas fa-circle-left link-icon"></i><span class="ms-1">トップページにもどる</span>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
