<%= render "items/help_form_info" %>
<h3 class="mb-3">ボタン・カテゴリーについて</h3>
<h4>各ボタンの説明</h4>
<ul class="px-3">
  <li class="row p-2 mb-3 rounded-3 help-list-button-bg">
    <div class="col-12">
      <div class="btn btn-lg btn-custom-send mb-2">更新</div>
      <h5>更新ボタン</h5>
    </div>
    <div class="col-12">
      <p class="m-0">フォームの入力内容でアイテム情報を更新します。</p>
    </div>
  </li>
</ul>
<%= render "shared/help_category_info" %>
