<h3 class="mb-3">アイテム登録の仕方</h3>
<ul class="px-3 py-4 mb-5 rounded-3 help-list-bg">
  <li class="row mb-3">
    <div class="col-12">
      <h5>①&ensp;新規登録ボタンを押して登録画面へ移動する</h5>
    </div>
    <div class="col-12">
      <p class="m-0">「新規登録」のボタンを押してアイテム登録画面へ移動します。</p>
    </div>
  </li>
  <li class="row mb-3">
    <div class="col-12">
      <h5>②&ensp;アイテムを登録する</h5>
    </div>
    <div class="col-12">
      <p class="m-0">登録画面でカテゴリー、アイテムの名前などを入力して登録すれば登録完了です。</p>
    </div>
  </li>
</ul>
<% if current_user.guest? %>
  <h3 class="mb-3">ゲストユーザーのアイテム最大登録数</h3>
  <p class="px-3 py-4 mb-5 rounded-3 bg-danger-subtle">ゲストユーザーで登録できるアイテムの数は最大<%= Item::GUEST_ITEM_MAXIMUM_COUNT %>個までです。</p>
<% end %>
<h3 class="mb-3">ボタンについて</h3>
<h4>各ボタンの説明</h4>
<ul class="px-3">
  <li class="row p-2 mb-3 rounded-3 help-list-button-bg">
    <div class="col-12">
      <div class="btn btn-lg btn-custom-send mb-2">
        <i class="fas fa-circle-plus me-2"></i>新規登録
      </div>
      <h5>登録ボタン</h5>
    </div>
    <div class="col-12">
      <p class="m-0">アイテム登録画面へ移動します。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-button-bg">
    <div class="col-12">
      <i class="h3 fas fa-pencil me-3 edit-icon"></i>
      <h5>編集ボタン</h5>
    </div>
    <div class="col-12">
      <p class="m-0">アイテム編集画面へ移動します。登録したアイテムを編集できます。</p>
    </div>
  </li>
  <li class="row p-2 mb-3 rounded-3 help-list-button-bg">
    <div class="col-12">
      <i class="h3 fas fa-trash-can mb-2 delete-icon"></i>
      <h5>削除ボタン</h5>
    </div>
    <div class="col-12">
      <p class="m-0">選択したアイテムを削除します。</p>
    </div>
  </li>
</ul>
