<div class="container-fluid layouts-footer">
  <footer class="row py-4">
    <div class="col-sm-4 col-12 pe-sm-5 mb-sm-0 mb-3 order-sm-2 text-sm-end text-center">
      <%= link_to root_path, class: "h5 footer-top-link" do %>
        <i class="bi bi-arrow-up-circle-fill link-icon"></i><span class="ms-1">TOPにもどる</span>
      <% end %>
    </div>
    <div class="offset-sm-4 col-sm-4 order-sm-1">
      <p class="text-center text-body-secondary">&copy; 2023 okamemo.com</p>
    </div>
  </footer>
</div>
